.container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
    padding: 20px;
    border-radius: 40px;
    background: #232427;
    box-shadow:  7px 7px 14px #171719,
                -7px -7px 14px #2f3135;
}

.upperBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.title{
    margin-bottom: 15px;
    color: white;
    text-transform: uppercase;
}

.parentAllumettes, .parentBlackjack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}



.statsContent{
    color: white;
}

.parentBlackjack, .parentAllumettes{
    margin-top: 25px;
    gap: 25px;
}


@media screen and (max-width: 1000px) {
    .container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 80%;
        padding: 20px;
        border-radius: 40px;
        background: #232427;
        box-shadow:  7px 7px 14px #171719,
                    -7px -7px 14px #2f3135;
    }
}