.parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
}

.deleteButton{
    background-color: #00a2ff;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: -25px;
}